$icon_size: 1em;

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background-color: mix(black, white, 90%);
    border: 2px solid red;
    color: white;
    overflow: scroll;
}

.whole-page-container {
    border: 2px solid white;
    flex-grow: 1;
}

// CSS for general containers

.top-nav-container {
    border: 2px solid blue;
    height: 3.5rem;
    z-index: 1000;
}

.nav-div-container {
    display: flex;
    align-items: center;
    border: 2px solid green;
    height: 100%;
}

.left-div-container {
    display: flex;
    gap: 2rem;
}

.search-div-container {
    display: flex;
    justify-content: center;
    gap: .25rem;
}

.right-div-container {
    display: flex;
    justify-content: right;
    gap: .75rem;
}

.left-div-container, .search-div-container, .right-div-container {
    white-space: nowrap;
    flex: 1;
    height: 100%;
}

// CSS for left side of navbar, with some general button/dropdown stuff included

.twitch-icon-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.twitch-icon {
    height: 44px;
}

.text-icon-container {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
}

.text {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.text:hover {
    color: rgba(145, 70, 255);
}

.misc-link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 25%;
    background-color: transparent;
    border: none;
}

.dropdown-button:hover {
    background-color: mix(black, white, 80%);
    cursor: pointer;
}

.nav-tooltip {
    position: absolute;
    background-color: mix(black, white, 15%);
    color: black;
    padding: 4px;
    border-radius: 3px;
    opacity: 0;
    top: 100%;
    left: 60%;
    z-index: 1002;
}

.misc-tooltip {
    top: 100%;
    left: 60%;
    margin-left: -26px;
}

.nav-tooltip:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 6px solid;
    border-color: transparent transparent mix(black, white, 15%) transparent;
}

.button-tooltip:hover .nav-tooltip {
    opacity: 1;
    transition: opacity .2s;
    transition-delay: .3s;
}

.circle {
    width: 4px;
    height: 4px;
    margin: 1.5px;
    background: white;
    border-radius: 50%;
    display: block;
}

.dropdown-content {
    list-style: none;
    position: absolute;
    top: 100%;
    background-color: mix(black, white, 87%);
    padding: 20px;
    padding-top: 0px;
    border-radius: 5px;
    display: none;
    z-index: 1003;
}

.misc-dropdown-content {
    left: 0%;
    top: 70%;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.list-dropdown-content>li {
    margin-top: 10px;
    border-radius: 3px;
    height: 20px;
}

.list-dropdown-content>p {
    color: mix(black, white, 40%);
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

li>a, div>a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 5px;
    border-radius: 4px;
}

li>a:hover {
    background-color: mix(black, white, 78%);
}

.line {
    display: block;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid mix(black, white, 78%);
}

// CSS for search bar and button

.search-div-container {
    display: flex;
    align-items: center;
    gap: 0;
}

.search-bar-container {
    display: flex;
    border: 1px solid mix(black, white, 60%);
    height: 65%;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-bar {
    background-color: transparent;
    border: none;
    color: mix(black, white, 15%);
    height: 90%;
    width: 100%;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1001;
}

.search-bar:hover {
    outline: 2px solid mix(black, white, 50%);
}

.search-bar:focus, textarea:focus {
    outline: rgba(145, 70, 255) solid 5px;
}

.search-button-container {
    height: 67%;
}

.search-button {
    border: none;
    height: 100%;
    width: 37px;
    margin: 0;
    background-color: mix(black, white, 80%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-button:hover {
    cursor: pointer;
}

.search-icon {
    height: 20px;
    width: 20px;
}

// CSS for right side of navbar

.crown-icon {
    height: 38px;
}

.crown-tooltip {
    margin-left: -43px;
}

.right-dropdown-content {
    right: 10%;
    padding: 0;
    gap: 0;
}

.crown-prime-container {
    display: flex;
    padding: 10px 20px;
    outline: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 370px;
    justify-content: space-between;
}

.crown-dropdown-prime {
    width: 120px;
}

.crown-dropdown-prime:hover {
    background-color: mix(black, white, 78%);
    border-radius: 5px;
}

.prime-gaming-image {
    width: 120px;
}

.close {
    display: flex;
    font-size: 34px;
    font-weight: 400;
}

.crown-dropdown-div {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 370px;
}

.text-overflow {
    overflow-wrap: break-word;
    white-space: normal;
}

.prime-button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(145, 70, 255);
    border-radius: 5px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 16px;
    height: 36px;
}

.prime-button-link:hover {
    background-color: rgb(116, 34, 240);
}

.image-container {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

// CSS for Inventory/notifications
.inventory-icon {
    width: 19px;
}

.inventory-tooltip {
    margin-left: -49px;
}

.right-dropdown-container {
    display: flex;
    padding: 10px 20px;
    outline: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 370px;
    align-items: center;
    height: 40px;
}

.inventory-read {
    display: flex;
    width: 36px;
}

.right-dropdown-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.right-dropdown-rightdiv {
    display: flex;
    justify-content: right;
    align-items: center;
}

.settings-link {
    width: 36px;
}

.emptyspace, .inventory-read-container, .right-dropdown-text, .right-dropdown-rightdiv {
    white-space: nowrap;
    flex: 1;
}

.right-content-dropdown-div {
    border-top: 1px solid black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.inventory-stuff-image {
    width: 370px;
}

.message-icon {
    width: 19px;
}

.message-tooltip {
    margin-left: -39px;
}

.search-bar-message-div {
    margin-top: 12px;
    width: 370px;
    border-radius: 4px;
}

.search-bar-message {
    height: 32px;
    border-radius: 4px;
}

.message-div-content {
    height: 200px;
    justify-content: center;
}

// CSS for Bit dropdown menu

.bit-tooltip {
    margin-left: -33px;
}

.bit-icon {
    width: 18px;
    height: 20px;
}

.bit-gif-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bit-gif {
    width: 70%;
}

.bit-dropdown-content {
    width: 370px;
    border-radius: 5px;
    right: 0%;
}

.bit-title-container {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.bit-learn-text {
    text-decoration: none;
    color: rgba(145, 70, 255);
}

.bit-learn-text:hover {
    text-decoration: underline;
    color: rgb(116, 34, 240);
}

// CSS for TURBO

.turbo-tooltip {
    margin-left: -34px;
}

.turbo-dropdown-content {
    right: 0%;
}

.turbo-button {
    flex-direction: row;
    background-color: mix(black, white, 80%);
    color: white;
    width: 120px;
    border-radius: 5px;
}

.turbo-icon {
    width: 19px;
}

.turbo-ad-content {
    padding: 0;
}

.turbo-ad-image {
    width: 410px;
}

// CSS for 7TV

.seven-tv-tooltip {
    margin-left: -48px;
}

// CSS for Account

.account-button {
    border-radius: 50%;
}

.account-icon {
    width: 32px;
    border-radius: 50%;
}

.account-dropdown-content {
    width: 240px;
    font-size: 18px;
}

.account-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: 240px;
    border: none;
    outline: none;
    height: 100%;
}

.account-dropdown-icon {
    width: 42px;
    border-radius: 50%;
}

.account-name-icon {
    display: flex;
    align-items: center;
}

.account-dropdown-content-list {
    display: flex;
    margin: 0;
    width: 200px;
    right: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

